@import '../../../assets/style/mixin.scss';


.packages{
    max-width: 1400px;
    width: 100%;
    padding: 20px 50px;

    @include screen(1024px){
        height: 100vh;
        overflow-y: scroll;
    }

    @include screen(900px){
        padding: 100px 20px 20px 20px;
        }

    .name2{
        font-size: 48px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        margin: 20px 0;
        color: #f44336 ;
    }
    .span{
        width: 60px;
        border: 5px solid #f44336;
        border-radius: 4px;
        margin: 20px 0;
    }
    .text{
        font-size: 16px;
        margin: 10px 0;
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
    }
    .columns{
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        @include screen(601px){
            display: block;
        }
    }
    
}