.footer{
    width: 100%;
    padding: 48px 58px 48px 16px;
    background-color: #f1f1f1;
    margin-top: 75px;
    bottom: 0;

    .text{
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        line-height: 1.5;
        text-align: end;

    }
}